{% extends 'base.html.twig' %}

{% block title %}ACCUEIL!{% endblock %}



{% block body %}
   <br>
        <h1 id="titre" >BIENVENUE DANS LE GESTIONNAIRE DES EMPLOYÉS</h1>

        <style>
                #titre{
                        width : 100%;
                        margin: 0 auto;
                        position : justify;        
                        padding : 40px;
                }
        
        
        
        </style>

{% endblock %}
